<div class="demo-session-teaser" id="demo-session-teaser">
    <h3>Demo-Session</h3>
    <strong>18. Mai 2021 11:00 - 12:00</strong>
    <a href="https://www.puzzle.ch/de/blog/articles/2021/04/14/hitobito-demo-session-3" target="_blank">Jetzt anmelden</a>
</div>
<script>
    window.onscroll = () => {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            document.getElementById("demo-session-teaser").className = "demo-session-teaser hide";
        } else {
            document.getElementById("demo-session-teaser").className = "demo-session-teaser";
        }
    }

</script>