<div class="demo-session-teaser" id="demo-session-teaser">
    <h3>Demo-Session</h3>
    <strong>21. Oktober 2021 13:00 - 14:00</strong>
    <a href="https://www.puzzle.ch/de/blog/articles/2021/09/16/hitobito-demo-session-4" target="_blank">Jetzt anmelden</a>
</div>
<script>
    window.onscroll = () => {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            document.getElementById("demo-session-teaser").className = "demo-session-teaser hide";
        } else {
            document.getElementById("demo-session-teaser").className = "demo-session-teaser";
        }
    }

</script>