<section id="description">
  <div class="container">
    <h2 class="is-subtitle">
      {{page.desc-title}}
    </h2>
    <div class="desc-slider">
      <ul class="rslides">
        <li>
          <h3 class="h2">{{page.desc-slide1-title}}</h3>
          <figure class="desc-figure">
            <img alt="{{page.desc-slide1-img1-alt}}" src="{{path}}/images/slide01_01.svg" width="440" height="260" />
            <figcaption>
              {{page.desc-slide1-txt1}}
            </figcaption>
          </figure>
        </li>
        <li>
          <h3 class="h2">{{page.desc-slide1-title}}</h3>
          <figure class="desc-figure">
            <img alt="{{page.desc-slide1-img2-alt}}" src="{{path}}/images/slide01_02.png" width="440" height="260" />
            <figcaption>
              {{page.desc-slide1-txt2}}
            </figcaption>
          </figure>
        </li>
        <li>
          <h3 class="h2">{{page.desc-slide2-title}}</h3>
          <figure class="desc-figure">
            <img alt="{{page.desc-slide2-img1-alt}}" src="{{path}}/images/slide02_01.png" width="440" height="260" />
            <figcaption>
              {{page.desc-slide2-txt1}}
            </figcaption>
          </figure>
        </li>
        <li>
          <h3 class="h2">{{page.desc-slide2-title}}</h3>
          <figure class="desc-figure">
            <img alt="{{page.desc-slide2-img2-alt}}" src="{{path}}/images/slide02_02.png" width="440" height="260" />
            <figcaption>
              {{page.desc-slide2-txt2}}
            </figcaption>
          </figure>
        </li>
        <li>
          <h3 class="h2">{{page.desc-slide3-title}}</h3>
          <figure class="desc-figure">
            <img alt="{{page.desc-slide3-img1-alt}}" src="{{path}}/images/slide03_01.png" width="440" height="260" />
            <figcaption>
              {{page.desc-slide3-txt1}}
            </figcaption>
          </figure>
        </li>
        <li>
          <h3 class="h2">{{page.desc-slide3-title}}</h3>
          <figure class="desc-figure">
            <img alt="{{page.desc-slide3-img2-alt}}" src="{{path}}/images/slide03_02.png" width="440" height="260" />
            <figcaption>
              {{page.desc-slide3-txt2}}
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
    <div class="desc-txt">{{page.desc-txt}}</div>
  </div>
</section>
