<section id="description">
  <div class="container">
    <h2 class="is-subtitle">
      {{ site.data.content_main.strengths.title[page.language] }}

    </h2>
    <div class="desc-slider">
      <ul class="rslides">
        {% for strength in site.data.content_main.strengths.list %}
        <li>
          <h3 class="h2">{{strength.title[page.language]}}</h3>
          <figure class="desc-figure">
            <img alt="{{page.desc-slide1-img1-alt}}" src="{{strength.image_path}}" width="440" height="260" />
            <figcaption>
              {{strength.benefit[page.language]}}
            </figcaption>
          </figure>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="desc-txt">{{site.data.content_main.strengths.summary[page.language].html}}</div>
  </div>
</section>
