<section id="open">
  <div class="container">
    <div class="info-text">
      <h2>
        {{page.open-title}}
      </h2>
      <p>
        {{page.open-txt1}}
      </p>
      <p>
        {{page.open-txt2}}
      </p>
      <p>
        {{page.open-txt3}}
      </p>
      <p>
        <a class="info-source-link" href="https://github.com/hitobito/hitobito" target="_blank"><img alt="GitHub logo" class="info-source-img" src="{{path}}/images/logo-github.svg" width="32" height="32" />https://github.com/hitobito/hitobito</a>
      </p>
    </div>
    <div class="info-contact">
      <a href="mailto:andre@hitobito.com"><img alt="{{page.open-more-infos}}" src="{{path}}/images/info-contact_{{page.language}}.svg" width="244" height="263" /></a>
      <p>
        {{page.open-contact}}
      </p>
      <a class="btn btn-purple" href="mailto:andre@hitobito.com">André Kunz</a>
    </div>
  </div>
</section>
