{% assign plans = site.data.plans %}
{% assign content = site.data.content_main.services %}
{% assign lang = page.language %}


<section id="services">
  <div class="container">
    <h2>
      {{ site.data.content_main.services.title[lang] }} <!-- {{page.services-title}} -->
    </h2>

    <div class="planngs-container">
      <table class="plans is-multiple-plans">
        <thead class="plans-head">
          <tr>{% for plan in plans.list %}
            <th>{{plan.title[lang]}}</th>
          {% endfor %}</tr>
        </thead>
        <tbody>
          <tr>
            {% for plan in plans.list %}
              <td>{{plan.short_description[lang]}}</td>
            {% endfor %}
          </tr>
          <tr>
            {% for plan in plans.list %}
              <td><h3 class="plans-cell-title">Hosting</h3>{{plan.hosting[lang]}}</td>
            {% endfor %}
          </tr>
          <tr>
            {% for plan in plans.list %}
              <td><h3 class="plans-cell-title">Support</h3>{{plan.support}}</td>
            {% endfor %}
          </tr>
          <tr>
            {% for plan in plans.list %}
              <td><h3 class="plans-cell-title">Customization</h3>{{plan.customization[lang]}}</td>
            {% endfor %}
          </tr>
          <tr>
            {% for plan in plans.list %}
              <td><h3 class="plans-cell-title">Development</h3>{{plan.weiterentwicklung[lang]}}</td>
            {% endfor %}
          </tr>
        </tbody>
        <tfoot>
          <tr>{% for plan in plans.list %}
            <th>
              <div class="plans-price">
                
                {{plan.cost[lang]}}
                {% if plan.trial_link %}
                  <a href="/signup/" class="btn btn-orange" style="display: block; line-height: 100%; text-decoration: none; padding: 0.5rem; margin-top:1.5rem;">
                      <div>{{content.call-to-action[lang]}}!</div>
                  </a>
                  <br>
                {% endif %}
              </div>
            </th>
          {% endfor %}</tr>
        </tfoot>
      </table>

      {% for plan in plans.list %}
      <table class="plans is-single-plan">
        <thead class="plans-head">
          <tr>
            <th>{{plan.title[lang]}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>{{plan.short_description[lang]}}</td>
          </tr>
          <tr>
              <td><h3 class="plans-cell-title">Hosting</h3>{{plan.hosting[lang]}}</td>
          </tr>
          <tr>
              <td><h3 class="plans-cell-title">Support</h3>{{plan.support}}</td>
          </tr>
          <tr>
              <td><h3 class="plans-cell-title">Customization</h3>{{plan.customization[lang]}}</td>
          </tr>
          <tr>
              <td><h3 class="plans-cell-title">Development</h3>{{plan.weiterentwicklung[lang]}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>
              <div class="plans-price">{{plan.cost[lang]}}</div>
            {% if plan.trial_link %}
              <a href="/signup/" class="btn btn-orange" style="display: block; line-height: 100%; text-decoration: none; padding: 0.5rem;">
                  <div>{{content.call-to-action[lang]}}!</div>
              </a>
              <br>
            {% endif %}
            </th>
          </tr>
        </tfoot>
      </table>
      {% endfor %}
    </div>

    <!-- <h2>{{content.free-trial[lang]}} blabla</h2>

    <a href="/signup/" class="btn btn-orange is-important" style="display: block;">
        <div>{{content.call-to-action[lang]}}!</div>
    </a>
    <p>{{plans.cost_comment[lang]}}</p> -->
  </div>
</section>
<section id="demo">
  <div class="container">
    <img alt="Try it now!" class="demo-man" src="{{path}}/images/demo-man.svg" width="279" height="321" />
    <div class="demo-calltoaction">
      <h2 class="h3">
        {{page.demo-title}}
      </h2>
      <form action="https://demo.hitobito.com/{{language}}/users/sign_in" method="get">
        <ul class="demo-list">
          <li>
            <input type="radio" name="person[email]" value="admin@hitobito.ch" id="demo-role-admin" checked>
            <label for="demo-role-admin"></label>
            <label for="demo-role-admin">{{page.demo-role-admin}}</label>
          </li>
          <li>
            <input type="radio" name="person[email]" value="mitglied@hitobito.ch" id="demo-role-member">
            <label for="demo-role-member"></label>
            <label for="demo-role-member">{{page.demo-role-member}}</label>
          </li>
        </ul>
        <button class="demo-btn" type="submit">
          <span class="h2">{{page.demo-btn-title}}</span><br>
          <span>{{page.demo-btn-subtitle}}</span>
        </button>
      </form>
    </div>
  </div>
</section>
<section id="open">
  <div class="container">
    <div class="info-text">
      <h2>
        {{page.open-title}}
      </h2>
      <p>
        {{page.open-txt1}}
      </p>
      <p>
        {{page.open-txt2}}
      </p>
      <p>
        {{page.open-txt3}}
      </p>
      <p>
        <a class="info-source-link" href="https://github.com/hitobito/hitobito" target="_blank"><img alt="GitHub logo" class="info-source-img" src="{{path}}/images/logo-github.svg" width="32" height="32" />https://github.com/hitobito/hitobito</a>
      </p>
    </div>
    <div class="info-contact">
      <a href="mailto:info@hitobito.com"><img alt="{{page.open-more-infos}}" src="{{path}}/images/info-contact_{{page.language}}.svg" width="244" height="263" /></a>
      <p>
        {{page.open-contact}}
      </p>
      <a class="btn btn-purple" href="mailto:info@hitobito.com">Email senden</a>
    </div>
  </div>
</section>
