.info-text {
  padding: 40px 0 20px;
  text-align: center;

  @include at-breakpoint($breakTablet oldie) {
    text-align: left;
  }

  @include at-breakpoint($breakDesktop oldie) {
    @include span-columns(7, 12);
  }
}

.info-who {
  padding: 20px 0;
  text-align: center;
  @include at-breakpoint($breakDesktop oldie) {
    @include span-columns(5 omega, 12);
    text-align: right;
    padding: 60px 0 20px;
  }
}


.info-contact {
  padding: 40px 0 10px;
  margin-bottom: 30px;
  background-color: #9D6CA1;
  text-align: center;
  @include border-radius(7px);

  @include at-breakpoint($breakDesktop oldie) {
    padding-bottom: 20px;
    margin-bottom: 0;
    @include border-radius(0);
    @include span-columns(4 omega, 12);
    min-height: 430px;
  }

  img {
    margin-top: -70px;
  }

  .btn {
    margin: 40px 0;
  }
}

.info-source-img {
  float: left;
  width: 2em;
  margin-right: 0.5em;
}
.info-source-link {
  line-height: 2em;
}
