.partner-title {
  color: white;
}

.partner-list {
  @include clearfix;
  @include reset-list;
  padding-bottom: 3em;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.partner-item {
  display: block;
  flex: 1 0 auto;
  margin-top: 3em;
  text-align: left;
  margin: 2rem 1rem 1rem;
  max-width: 16rem;

  img {
    max-height: 100%;
  }
}
.partner-item-img,
.partner-contact-img {
  @include box-sizing(border-box);
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
.partner-item-img {
  background: white;
  @include border-radius(4px);
}
.partner-item-text,
.partner-contact-text {
  display: block;
  margin: 0;
  @include adjust-font-size-to(18px, 1);

  @include at-breakpoint($breakDesktop oldie) {
    @include adjust-font-size-to(22px, 1);
  }

  a {
    display: block;
    min-height: 3em;
    padding: 1em 0;
    text-decoration: none;
    color: #F8F9F9;
    @include at-breakpoint(27.5em $breakTablet) {
     min-height: 5em;
    }
    @include at-breakpoint($breakDesktop oldie) {
      min-height: 2em;
    }
  }

  &.is-dev a{
    min-height: 0;
    padding: 0.5em;
    border-radius: 6px;
    border: 1px solid;
    padding: 20px;
  }
}
.partner-contact{
  display: inline-block;
  margin-top: 20px;

  @include at-breakpoint(27.5em $breakTablet 55.938em) {
    width: columns(3,6);
  }
  @include at-breakpoint($breakDesktop oldie) {
    width: columns(6, 12);
  }
}
