// Base form styles
// 
// =================================================================================

/*  BASE FORM STYLES
  ----------------- */
label {
  font-weight: bold;
}

fieldset {
  border: 1px solid $borderColor;
  line-height: 1.3em;
  margin: rhythm() 0;
  padding: 0 1.4em 1.4em 1.4em;
}

.control-group {
  margin: rhythm() 0;
}

legend {
  display: block;
  position: relative;
  top: 0; 
  left: 0;  
  margin: 0 0 rhythm();
  padding: rhythm(.2) rhythm(.8);

  border: 1px solid $borderColor;
  @include border-radius;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  @include inline-block;
  padding: rhythm(.3);

  font-size: 0.875em;
  color: $gray;

  border: 1px solid $borderColor;
  @include border-radius(3px);

  &:focus {
    border-color: rgba($linkColor, 0.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include single-box-shadow($linkColor);
  }
}

textarea {
  @include box-sizing(border-box);
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%; 
  height: auto;
}


/*  BUTTONS STYLES
  ----------------- */
a.btn,
input.btn, 
button {
  @include inline-block;
  padding: 0 24px;
  @include adjust-font-size-to(16px, 2);
  background: $linkColor;
  color: white;
  @include border-radius(6px);
  @include single-transition(background-color, 0.3s);

  &:hover {
    background-color: $linkHover;
  }

  &.btn-purple {
    background-color: $purpleDark;
  }
   &:hover.btn-purple {
    background-color: darken($purpleDark, 10%);
  }
}


