{% include header.html %}

<main id="main" role="main">
  {% include main/hero.html %}
  {% include main/description.html %}
  {% include main/services.html %}
  {% include main/blog-preview.html %}
  {% include main/community.html %}

</main>

<footer id="footer" role="contentinfo">
  <section id="swiss-made-software">
    <a href="https://www.swissmadesoftware.org/">
      <img src="/images/swiss_made_software_footer_logo.png" width="250" alt="">
    </a>
  </section>
  <section id="legal">
    <p>
      {{page.footer-copy}}
    </p>
    <p><a href="/impressum">Impressum</a> - <a href="/agb" title="">Allgemeine Geschäftsbedingungen</a> - <a href="/datenschutz" title="">Datenschutz</a></p>
  </section>
</footer>
