<header id="header" role="banner">
  <nav class="nav">
    <ul>
      <li><a href="/" class="{% if page.language == 'de' %}is-active{% endif %}">DE</a></li>
      <li><a href="/en" class="{% if page.language == 'en' %}is-active{% endif %}">EN</a></li>
      <li><a href="/fr" class="{% if page.language == 'fr'%}is-active{% endif %}">FR</a></li>
    </ul>
  </nav>
  <nav class="nav">
    <ul>
      <li><a href="/" class="{% if page.language %}
is-active{% endif %}">Home</a></li>
      <li><a href="/blog" class="{% unless page.language %}is-active{% endunless %}">Blog</a></li>
    </ul>
  </nav>
  <div class="container">
    <a class="logo" href="/"><img alt="hitobito logo" src="{{path}}/images/logo.svg" width="230" height="30" /></a>
    <p>{{page.header-tagline}}</p>
  </div>
  <div class="ribbon-container">
    <div class="ribbon">
        <a href="https://github.com/hitobito/hitobito">Fork me on GitHub</a>
    </div>
  </div>
</header>
