<script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "Organization",
    "url": "https://hitobito.com/",
    "name": "hitobito",
    "description": "Open Source Webapplikation für das Verwalten von Mitgliedern, Events und mehr...",
    "logo": {
        "@context": "https://schema.org",
        "@type": "ImageObject",
        "url": "https://hitobito.com/images/logo.svg"
    },
    "sameAs": [
        "https://plus.google.com/108865436255615110323",
        "https://twitter.com/TeamHitobito"
    ]
}</script>
