// ---------------------------------------------------------------------------
// Imports

@import "compass";
@import "susyone";
@import "base/variable";

// ---------------------------------------------------------------------------
// Mixins

// Mixin for reset list
// ------------------
@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.reset-list {
  @include reset-list;
}

// Mixin for selection markup
// ------------------
@mixin selection($background, $color, $element:false) {
  @if($element) {
    &::-moz-selection{ background:$background; color:$color; text-shadow:none; }
    &::selection { background:$background; color:$color; text-shadow:none; }
  } @else {
    ::-moz-selection{ background:$background; color:$color; text-shadow:none; }
    ::selection { background:$background; color:$color; text-shadow:none; }
  }
}

// Center-align a block level element
// ----------------------------------
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Vertical rythmh
// ----------------------------------
@mixin flow {
  @include rhythm(0.5);
  &:first-child {
    margin-top: 0;
  }
}

// Reset
// =================================================================================
@import "base/reset";

// Typography
// =================================================================================
@import "base/typography";

// Form
// =================================================================================
@import "base/forms";


// Table
// =================================================================================

// Standard table
table {
  max-width: 100%;
  width: 100%;

  caption {
    font-style: italic;
  }
}

table,
td {
  border: 1px solid $borderColor;
  border-collapse: collapse;
  margin: rhythm() 0;
  padding: rhythm(.2) rhythm(.8);
}

th {
  background-color: $borderColor;
  padding: rhythm(.2) rhythm(.8);
  font-size: 0.875em;
  text-transform: uppercase;
  text-align: left;
  color: $grayDarker;
}

// Striped table
table.striped {
  tr:nth-child(even) {
    background-color: $grayLighter;
  }
}

// Image
// =================================================================================
img {
  height: auto;
}

embed,
iframe,
object {
  max-width: 100%;
  width: 100%;
}

// HR element
// =================================================================================
hr {
  border-top: 1px solid $borderColor;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  clear: both;
  height: 1px;
  margin: rhythm() 0;
  min-height: 0;

  &.dotted {
    border-style: dotted;
  }
  &.dashed {
    border-style: dashed;
  }
  &.darkborder {
    border-color: $black
  }
  &.lightborder {
    border-color: $white;
  }
}

.link {
  &.is-centered {
    display: block;
    text-align: center;
    padding: 3em;
  }
}
