
// Main
// =================================================================================
.container {
  @include container;
  @include susy-grid-background;

  @include at-breakpoint($breakTablet) {
    @include set-container-width($breakTablet);
    @include susy-grid-background;
  }

  @include at-breakpoint($breakDesktop oldie) {
    @include set-container-width(12);
    @include susy-grid-background;
  }
}

#header {
  padding: 20px 0 40px;
  background: white;
  .logo {
    display: block;
    margin-top: 2em;
  }
  .container {
    text-align: center;
  } 
}

#hero {
  padding: 60px 0;
  color: white;
  text-align: center;

  background: image-url("hero-background-small.svg") $blue no-repeat center bottom;

  @include at-breakpoint($breakDesktop) {
    background-image: image-url("hero-background.svg");
  }

  @include at-breakpoint(100em) {
    background-image: image-url("hero-background.svg");
    @include background-size(100% auto);
    background-position: center 220px;
  }
}
.no-svg #hero {
  background-image: image-url("hero-background.png");
}

#features {
  padding: 60px 0;
  background: $green;
  color: white;
  text-align: center;
}

#description {
  padding: 60px 0;
  background: $greenDark;
  color: white;
}

#services {
  background: $orangeDark;
  color: white;
  padding: 60px 0;
  text-align: center;
}

#demo {
  padding: 60px 0;
  background: $orange;
  color: white;

  .container {
    position: relative;
    zoom: 1;
  }
}

#open {
  background: $purple;
  color: white;
  a {
    color: #EECFF1;
    &:hover {
      color: white
    }
  }

  .info-text {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

#partner {
  padding: 60px 0 40px; 
  background: #474E5D;
  text-align: center;
}

#legal {
  padding: 30px 0;
  text-align: center;
  @include adjust-font-size-to(14px);
}

#blog {
  padding: 0 0 30px;
  background: white;
  color: $black;
  a {
    color: $blueDarker;
  }
}

#blog-preview {
  background: $purpleDark;
  padding: 60px 0 ; 

  color: white;

  a { 
    color: #EECFF1;
    &:hover {
      color: white
    }
  }

}

.blog-preview-title {
  margin-top: 0;
}

.blog-preview-post {
  margin-top: rhythm(2);
}