// Hide
// =================================================================================
.is-hidden {
  display: none;
  visibility: hidden;
}

.browsehappy {
  text-align: center;
  padding: 10em;
}