.partner-list {
  @include clearfix;
  @include reset-list;
  margin-bottom: 40px;
}

.partner-item {
  display: block;
  margin-top: 40px;

  @include at-breakpoint(27.5em $breakTablet 55.938em) {
    @include span-columns(3, 6);
    &:nth-child(2n) {
      @include omega;
    }
  }
  @include at-breakpoint($breakDesktop oldie) {
    @include span-columns(4, 12);
    &:nth-child(3n) {
      @include omega;
    }
  }

  a {
    display: block;
    width: 100%;
    height: 200px;
    padding: 0;
    line-height:200px;
    text-align: center;
    text-decoration: none;
  }

  img {
    vertical-align:middle;
  }
}


// .partner-item.is-third {
//   @include at-breakpoint($breakTablet) {
//     clear: both;
//   }
//   @include at-breakpoint($breakDesktop oldie) {
//     clear: none;
//     @include omega;
//   }
// }