---
layout: default
path: ".."
number_of_expanded_articles: 3
---

{% include header.html %}

<main id="blog">
	<section class="blog-list">
		{% for post in site.posts limit: page.number_of_expanded_articles %}
			<article class="blog-post">
				<h1>{{post.title}}</h1>
				<div class="blog-date">{{ post.date | date_to_long_string }}</div>
				{{ post.content }}
				<p>Link zum Artikel: <a href="{{post.url}}">{{ post.title }}</a></p>
			</article>
		{% endfor %}
	</section>
	<div class="blog-list blog-list-more-articles">
		{% for post in site.posts offset: page.number_of_expanded_articles %}
			{% if forloop.index == 1 %}
				<h1>Weitere Posts</h1>
			{% endif %}
			<div class="blog-post-title-only">
				<a href="{{post.url}}">{{post.title}}</a> <span class="blog-list-more-articles-date">{{ post.date | date_to_long_string }}</span>
			</div>
		{% endfor %}					
	</div>

</main>