backend:
  name: git-gateway
  branch: master # Branch to update (master by default)

media_folder: "uploads" # Folder where user uploaded files should go

collections: # A list of collections the CMS should be able to edit
  - name: "post" # Used in routes, ie.: /admin/collections/:slug/edit
    label: "Post" # Used in the UI, ie.: "New Post"
    folder: "_posts" # The path to the folder where the documents are stored
    sort: "date:desc" # Default is title:asc
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields: # The fields each document in this collection have
      - {label: "Layout", name: "layout", widget: "hidden", default: "post"}
      - {label: "Title", name: "title", widget: "string", tagname: "h1"}
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "data"
    label: "Daten"
    files:
      - name: "kunden"
        label: "Kunden"
        file: '_data/customers.yml'
        fields:
          - label: "name"
            name: "Name"
            widget: "object"
            fields:
            - { name: "de", widget: "string" }
            - { name: "fr", widget: "string" }
            - { name: "it", widget: "string" }
          - label: "Website"
            name: "url"
            widget: "string"
            required: false
          - label: "Anzahl Mitglieder"
            name: "member_count"
            widget: "string"
            required: false
          - label: "Anzahle Gruppen"
            name: "group_count"
            widget: "string"
            required: false
          - label: "Gruppenbezeichnung"
            name: "groups_label"
            widget: "list"
            fields: 
            - { name: "de", widget: "string" }
            - { name: "fr", widget: "string" }
            - { name: "it", widget: "string" }
            hint: "Bezeichnung für Gruppen (z. B. Abteilungen), Einträge hier können kann auch gelöscht werden"