
// Main
// =================================================================================
.container {
  @include container;
  @include susy-grid-background;

  @include at-breakpoint($breakTablet) {
    @include set-container-width($breakTablet);
    @include susy-grid-background;
  }

  @include at-breakpoint($breakDesktop oldie) {
    @include set-container-width(12);
    @include susy-grid-background;
  }
}

#header {
  padding: 40px 0;
  background: white;
  text-align: center;
}

#hero {
  padding: 60px 0;
  color: white;
  text-align: center;

  background: image-url("hero-background-small.svg") $blue no-repeat center bottom;

  @include at-breakpoint($breakDesktop) {
    background-image: image-url("hero-background.svg");
  }

  @include at-breakpoint(100em) {
    background-image: image-url("hero-background.svg");
    @include background-size(100% auto);
    background-position: center 220px;
  }
}
.no-svg #hero {
  background-image: image-url("hero-background.png");
}

#features {
  padding: 60px 0;
  background: $green;
  color: white;
  text-align: center;
}

#demo {
  padding: 60px 0;
  background: $greenDark;
  color: white;

  .container {
    position: relative;
    zoom: 1;
  }
}

#description {
  padding: 60px 0;
  background: $orange;
  color: white;
}


#hosting {
  background: $orangeDark;
  color: white;
  text-align: center;

  @include at-breakpoint($breakTablet oldie) {
    text-align: left;
  }
}

#info {
  background: $purple;
  color: white;
  a {
    color: #EECFF1;
    &:hover {
      color: white
    }
  }
}

#partner {
  background: $white;
}

#legal {
  padding: 30px 0;
  text-align: center;
  @include adjust-font-size-to(14px);


}