{% include html_start.html %}

    <div id="page">
    {% include header-minimal.html %}

    <main id="blog">
        <section class="blog-list">
            <article class="blog-post">
                <h1><small>{{ page.date | date: "%-d. %-m. %Y" }}</small><br>
                  {{page.title}}<br></h1>
                {{ content }}
            </article>
            {% include blog-posts-list.html %}
        </section>

    </main>


    </div>
    <script src="/scripts/vendor/jquery.min.js" defer></script>
    <script src="/scripts/vendor/responsiveslides.min.js" defer></script>
    <script src="/scripts/main.min.js" defer></script>
    {% include tracking.html %}
  </body>
</html>
