#header role="banner"
  .container
    a.logo href="index.html"
      img src="images/logo.svg" alt="hitobito"
    p Die Open Source Webapplikation für das Verwalten von Mitgliedern, Events und mehr...

#main role="main"
  section#hero
    .container
      h1.hero-title Mitglieder zentral online verwalten
      img.hero-illus src="images/hero.png" alt="Schöne auf Desktop und Tablet"

  section#features
    .container
      ul.features-list
        li.features-item
          img src="images/feature-central.svg" alt="Zentralisieren"
          p
            | Mitglieder zentral
            br
            | online verwalten
        li.features-item
          img src="images/feature-event.svg" alt="Planen"
          p
            | Lager und events
            br
            | verwalten
        li.features-item
          img src="images/feature-mail.svg" alt="In Kontakt bleiben"
          p
            |Newsletter und
            br
            | Mailingsystem

  section#demo
    .container
      img.demo-man src="images/demo-man.svg" alt="Try it now!"
      .demo-calltoaction
        p.demo-teaser Gwundrig? Testen Sie die Demoversion von hitobito
        a.demo-btn href="http://demo.hitobito.ch/" target="_blank"
          h2 Demoversion testen
          span Kostenlos und ohne Registrierung

  section#description
    .container
      .desc-header
        .desc-teaser
          h2.desc-title Was kann hitobito?
          p
            | Der Zugriff auf die Datenbank erfolgt über einen gängigen Web-Browser. Somit sind Sie unabhängig vom Betriebssystem und haben von überall Zugriff auf Ihre Daten. Die Bedienung der Applikation ist intuitiv und einfach.

        .desc-slider
          ul.rslides
            li
              img src="images/slide01.png" alt="Abonnent erstellen"
            li
              img src="images/slide02.png" alt="Region detail"
            li
              img src="images/slide03.png" alt="Region berarbeiten"

      .desc-list
        .desc-item
          .desc-screenshot
            a.lightbox href="images/desc-mitglied-zoom.png"
              .desc-screenshot-frame
                img src="images/desc-mitglied.png" alt="Mitglieder zentral online verwalten"
          .desc-text
            h3 Mitglieder zentral online verwalten
            p Die Datenbank bietet die Möglichkeit zentral alle Mitglieder zu verwalten. Die Personen können ihre Daten selbst aktualisieren.

        .desc-item.is-even
          .desc-screenshot
            a.lightbox href="images/desc-newsletter-zoom.png"
              .desc-screenshot-frame
                img src="images/desc-newsletter.png" alt="Newsletter und Mailingssystem"
          .desc-text
            h3 Newsletter und Mailingssystem
            p Mailinglisten lassen sich flexibel zusammenstellen und verwalten. Für einen Postversand lassen sich die Adressdaten einfach exportieren und z.B. als Etiketten drucken.

        .desc-item
          .desc-screenshot
            a.lightbox href="images/desc-rollen-zoom.png"
              .desc-screenshot-frame
                img src="images/desc-rollen.png" alt="Flexible Rollen und Berechtigungen"
          .desc-text
            h3 Flexible Rollen und Berechtigungen
            p Abhängig von den Strukturen werden den Benutzern Rollen zugewiesen. Diese Rollen definieren, wer wo auf welche Daten Zugriff hat.

        .desc-item.is-even
          .desc-screenshot
            a.lightbox href="images/desc-vereinstrukturen-zoom.png"
              .desc-screenshot-frame
                img src="images/desc-vereinstrukturen.png" alt="Komplexe Vereinsstrukturen abbilden"
          .desc-text
            h3 Komplexe Vereinsstrukturen abbilden
            p Komplexe hierarchische Strukturen können in der Lösung einfach und komplett abgebildet werden.

        .desc-item
          .desc-screenshot
            a.lightbox href="images/desc-events-zoom.png"
              .desc-screenshot-frame
                img src="images/desc-events.png" alt="Lager und Events verwalten"
          .desc-text
            h3 Lager und Events verwalten
            p Anlässe und Kurse können einfach im System verwaltet werden. Wer auf welcher Hierarchiestufe Anlässe erstellen kann, wird über die Rolle der Mitglieder direkt gesteuert.

        .desc-item.is-even
          .desc-highlight
            h3 Betrieb und Hosting
            p Puzzle ITC passt hitobito auf Ihre Bedürfnisse an und übernimmt auf Wunsch den Betrieb und Support Ihrer individuellen Lösung.

  section#info
    .container
      .info-text
        h2 Gemeinschaftslösung
        p
          | Hitobito ist ein Open Source Partnerprojekt von Jungwacht Blauring Schweiz und Puzzle ITC. Ziel ist es, die Datenbank gemeinsam mit weiteren Partnern auszubauen – ganz im Sinne des Grundsatzes vom Geben und Nehmen. Lesen Sie dazu auch den Artikel
          '
          a href="http://www.netzwoche.ch/de-CH/News/2013/08/08/Vereinsverwaltung-mit-der-Community.aspx" "Vereinsverwaltung mit der Community"
          |  in der Netzwoche

        h2 Open Source
        p
          | Der Quellcode von hitobito ist
          '
          a href="https://github.com/hitobito/hitobito" target="_blank" auf Github
          |  unter der GNU Affero General Public License veröffentlicht. Die zugrunde liegenden Softwarekomponenten (Ruby on Rails, MySQL Datenbank, ...) sind Open Source und basieren auf offenen Standards und Schnittstellen.

        p
          a.info-source-link href="https://github.com/hitobito/hitobito" target="_blank"
            img.info-source-img src="images/logo-github.svg" alt="GitHub"
            | https://github.com/hitobito/hitobito

      .info-contact
        a href="&#x6d;&#97;&#x69;&#x6c;&#116;&#111;&#x3a;&#107;&#x75;&#x6e;&#122;&#64;&#x70;&#x75;&#x7a;&#122;&#x6c;&#x65;&#x2e;&#x63;&#x68;"
          img src="images/info-contact.svg" alt="Weitere informationen?"
        p Kontaktieren Sie den Lösungsverantwortlichen
        a.btn.btn-purple href="&#x6d;&#97;&#x69;&#x6c;&#116;&#111;&#x3a;&#107;&#x75;&#x6e;&#122;&#64;&#x70;&#x75;&#x7a;&#122;&#x6c;&#x65;&#x2e;&#x63;&#x68;" André Kunz

#footer role="contentinfo"
  section#partner
    .container
      ul.partner-list
        li.partner-item.partner-puzzle
          a href="http://www.puzzle.ch/"
            span &nbsp;
            img src="images/logo-puzzle.svg" alt="Puzzle ITC"
        li.partner-item.partner-jubla
          a href="http://www.jubla.ch/"
            span &nbsp;
            img src="images/logo-jubla.svg" alt="Jungwacht Blauring Schweiz"
        li.partner-item.partner-you
          a href="&#x6d;&#97;&#x69;&#x6c;&#116;&#111;&#x3a;&#107;&#x75;&#x6e;&#122;&#64;&#x70;&#x75;&#x7a;&#122;&#x6c;&#x65;&#x2e;&#x63;&#x68;"
            span &nbsp;
            img src="images/logo-you.svg" alt="Sie?"

  section#legal
    p
      | &copy;
      '
      a href="http://www.puzzle.ch/" Puzzle ITC
      |  2013
    p
      a.link-wac href="http://www.wearecube.ch/" title="Design und Realisierung: We Are Cube.³"
        img src="images/logo-wac.svg" alt="Design und Realisierung: We Are Cube.³"

    //== render :partial => 'template'
  / end #content
/ end #main