#blog {
	.blog-list {
		margin: 0 auto;
		max-width: 50em;
		padding: 0 1em;
		h1 {
			text-align: center;
		}
	}

	.blog-list-more-articles {
		.blog-list-more-articles-date {
			white-space: nowrap;
		}
	}

	.blog-date {
		text-align: center;
		display: block;
	}
	.blog-post {
		border-top: 1px solid $grayLight;
		padding-top: 2em;
		padding-bottom: 2em;
		img {
			border: 1px solid $grayLight;
		}
	}


}

