

.demo-man {
  position: absolute;
  width: 80%;
  top: -20em;

  @include at-breakpoint($breakTablet) {
    position: absolute;
    top: -70px;
    left: 0px;
    width: 220px;
  }
  @include at-breakpoint($breakDesktop oldie) {
    position: absolute;
    width: 279px;
    top: -70px;
    left: 0px;
    margin-left: 30px;
  }
}

.demo-teaser {
  @include adjust-font-size-to(20px);
  margin-bottom: 50px;
  padding-left: 90px;

  @include at-breakpoint($breakTablet oldie) {
    padding-left: 0;
    text-align: center;
  }
}

.demo-calltoaction { 
  position: relative;
  z-index: 1;
  margin-top: 16em;
  @include at-breakpoint($breakTablet) {
    @include span-columns(4 omega, 6);
    margin-top: 2em;
  }
  @include at-breakpoint($breakDesktop oldie) {
    margin-top: 0;
    @include push(4);
    @include span-columns(7, 12);
  }
}

.demo-list {
  @include reset-list;
  margin: 3em 0;
  li {
    margin-bottom: 0.5em;
  }
}

.demo-btn {
  display: block;
  border: none;
  background: $orangeDark;
  padding: 12px 0;
  width: 100%;
  line-height: inherit;
  @include border-radius(12px);
  text-align: center;

  &:hover, 
  &:active {
    background-color: white;
    color: $orangeDark;
  }

  h2 {
    margin: 0;
    font-weight: 700;
  }
}
