.desc-header {
  @include clearfix;
}

.desc-title {
  @include adjust-font-size-to(40px, 2);

  font-weight: 400;
  margin-bottom: $base-line-height;

  @include at-breakpoint($breakTablet) {
    @include adjust-font-size-to(48px, 2);
  }
}

.desc-teaser {
  @include at-breakpoint($breakDesktop oldie) {
    @include span-columns(4, $breakDesktop);
  }
}

.desc-slider {
  position: relative;
  text-align: center;
  @include span-columns(10, 12);
  @include squish(1, 1, 12);
}


.desc-figure {
  margin-top: 4em;
}
.desc-figure + .desc-figure {
  margin-top: 1em;
}
.desc-figure img {
  @include at-breakpoint($breakDesktop oldie) {
    width: columns(6, 10);
  }
}
.desc-figure figcaption {
  display: inline-block;
  @include adjust-font-size-to(20px, 1);
  padding: 2em 0 2em (gutter(10) * 2);
  @include at-breakpoint($breakDesktop oldie) {
    width: columns(4, 10) - gutter(10);
  }
}
.flexbox {
  @include at-breakpoint($breakDesktop) {
    .desc-figure {
      display: flex;
      align-items: center;
    }
    .desc-figure + .desc-figure {
      flex-direction: row-reverse;
      figcaption {
        padding: 2em (gutter(10) * 2) 2em 0;
      }
    }
  }
}

.desc-teaser,
.desc-item {
  text-align: center;
  @include at-breakpoint($breakTablet oldie) {
    text-align: left;
  }
}

.desc-list {
  @include at-breakpoint($breakDesktop oldie) {
    @include clearfix;
  }
}

.desc-item {
  @include clearfix;
  margin-top: 40px;


  @include at-breakpoint($breakDesktop oldie) {
    @include span-columns(6, 12);
  }

  &.is-even {
    @include at-breakpoint($breakDesktop oldie) {
      @include omega;
    }
  }
}

.desc-screenshot {
  @include at-breakpoint($breakTablet) {
    @include span-columns(3, $breakTablet);
  }
  @include at-breakpoint($breakDesktop oldie) {
    @include span-columns(3, 6);
  }
}

.desc-screenshot-frame {
  line-height: 0;
  max-width: 200px;

  margin: 0 auto 20px;
  @include border-radius(100%);
  border: 6px solid $greenDark;

  img {
    width: 100%;
    @include border-radius(100%);
  }
}

.desc-txt {
  display: inline-block;
  text-align: center;
  margin-top: 4em;
  @include at-breakpoint($breakDesktop oldie) {
    @include span-columns(10, 12);
    @include squish(1, 1, 12);
  }
}