.features-list {
  @include reset-list;
}

.features-item {
  margin-top: 40px;
  width: 100%;

  font-family: $headingFontFamily;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.flexbox {
  .features-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .features-item {
    @include at-breakpoint($breakTablet) {
      width: columns(3, 6) - gutter(6);
      padding: 0 gutter(12);
    }
    @include at-breakpoint($breakDesktop oldie) {
      width: columns(4, 12) - gutter(12);
      padding: 0 gutter(24);
    }
}
}