.hero-title {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;

  @include at-breakpoint($breakDesktop oldie) {
    @include span-columns(4, 6);
    @include push(2);
  }
}

.hero-illus {
  margin-top: 30px;
  @include at-breakpoint($breakTablet) {
    width: 100%;
  }

  @include at-breakpoint($breakDesktop oldie) {
    width: columns(10, 12);
  }
}