.partner-list {
  @include clearfix;
  @include reset-list;
  padding-top: 20px;
  padding-bottom: 40px;
}

.partner-item {
  display: block;
  margin-top: 20px;

  @include at-breakpoint(27.5em $breakTablet 55.938em) {
    @include span-columns(3, 6);
    &:nth-child(2n) {
      @include omega;
    }
  }
  @include at-breakpoint($breakDesktop oldie) {
    @include span-columns(4, 12);
    &.is-third {
      @include omega;
    }
  }

  a {
    @include box-sizing(border-box);
    display: block;
    width: 100%;
    height: 200px;
    padding: 20px;
    line-height:200px;
    text-align: center;
    text-decoration: none;
    background: white;
  }
  img {
    max-height: 100%;
  }
}