
// Responsive Slider
/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;

  @include border-radius(4px);
}


.rslides_tabs {
  @include reset-list;
  @include clearfix;
  display: inline-block;
  margin: 0 auto 1em;

  @include at-breakpoint($breakDesktop oldie) {
    margin: 4em auto 2em;
  }

  li {
    display: block;
    float: left;
    margin-left: 1em;

    @include at-breakpoint($breakDesktop oldie) {
      margin-left: 2em;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  li a {
    display: block;
    width: 20px;
    height: 20px;
    background: $green;
    border: 3px solid $green;
    @include border-radius(100%);

    // Hide text
    text-indent: -9999px;
    white-space: nowrap;

    @include single-transition(background-color, 0.3s);
  }

  li a:hover,
  li a:active {
    background-color: $greenDark;
  }

  li.rslides_here a {
    background-color: white;
  }
}
.rslides_nav {
  position: absolute;
  overflow: hidden;
  top: 50%;
  margin-top: -40px;
  left: -30px;
  height: 80px;
  width: 40px;
  opacity: 0.5;
  z-index: 3;
  text-indent: -9999px;
  text-decoration: none;
  background: image-url("caret-left.svg") transparent no-repeat left center;
  background-size: 50%;
  @include transition(opacity 300ms ease);

  @include at-breakpoint($breakTablet) {
    left: -60px;
  }

  @include at-breakpoint($breakDesktop oldie) {
    background-size: 100%;
    left: -100px;
  }
}
.no-svg .rslides_nav {
  background-image: image-url("caret-left.png");
}
.rslides_nav:active,
.rslides_nav:hover {
  opacity: 1.0;
}
.rslides_nav.next {
  left: auto;
  background-position: right top;
  right: -30px;
  background: image-url("caret-right.svg") transparent no-repeat right center;
  background-size: 50%;
  @include at-breakpoint($breakTablet) {
    right: -60px;
  }
  @include at-breakpoint($breakDesktop oldie) {
    background-size: 100%;
    right: -100px;
  }
}
.no-svg .rslides_nav.next {
  background-image: image-url("caret-right.png");
}



// Responsive Lightbox
// https://github.com/duncanmcdougall/Responsive-Lightbox
#lightbox {
  z-index: 100;
  cursor: pointer;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000; /* IE Fallback (Solid Colour) */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAIElEQVQ4T2NkYGDYDMRkA8ZRAxhGw4BhNAyA+WAYpAMAIFgLQfO9BoEAAAAASUVORK5CYII=);
  background: rgba(0, 0, 0, 0.7);
  -webkit-filter: none !important;
}
#lightbox img {
  display: block;
  position: absolute;
  @include border-radius(3px);
}
body.blurred > * {
  -webkit-filter: blur(2px);
  -webkit-transform: translate3d(0, 0, 0);
}
.lightbox-loading {
  background: url(loading.gif) center center no-repeat;
  width: 31px;
  height: 31px;
  margin: -16px 0 0 -16px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.lightbox-close, 
.lightbox-next, 
.lightbox-previous {
  display: block;

  width: 60px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  z-index: 9999;

  @include border-radius(2px);

  background: black no-repeat center center;

  // Hide text
  text-indent: -9999px;
  white-space: nowrap;

  &:hover,
  &:active {
    background-color: $purpleDark;
  }
}

.lightbox-close {
  left: 50%;
  margin-left: -30px;
  bottom: 0;
  background-image: image-url("icon-close.svg");
}
.no-svg .lightbox-close {
  background-image: image-url("icon-close.png");
}

.lightbox-next {
  right: 0;
  background-image: image-url("icon-next.svg");
}
.no-svg .lightbox-next {
  background-image: image-url("icon-next.png");
}

.lightbox-previous {
  left: 0;
  background-image: image-url("icon-previous.svg");
}
.no-svg .lightbox-previous {
  background-image: image-url("icon-previous.png");
}

.lightbox-next,
.lightbox-previous {
  bottom: 0px;
  @include at-breakpoint($breakDesktop oldie) {
    top: 50%;
    bottom: auto;
    margin-top: -25px;
  }
}

